{% extends "base.html" %}
{% block page_content %}
  <div class="page-header"><h1>Garments</h1></div>
  {% if session.logged_in %}
    <form action="{{ url_for('add_garment') }}" method=post class=add-entry>
      <dl>
        <dt>Description:
        <dd><input type=text size=30 name=description>
        <dd><input type=submit value=Add>
      </dl>
    </form>
  {% endif %}
  <ul class=garments>
  {% for garment in garments %}
    <li><h2>{{ garment.description }}</h2>
  {% else %}
    <li><em>Your closet is empty.</em>
  {% endfor %}
  </ul>
{% endblock %}
